@{
    ViewBag.Title = "Classes";
}

<h1 class="class-list__title">Subjects</h1>

<section class="card__grid">
    <article id="sc" class="card">
        <img class="card__image" src="~/Content/images/campfire.jpg" alt="Campfire" />
        <h3 class="card__title">Skills Courses</h3>
        <p class="display-text">
            KC OSS Skills Courses focus every day on learning and practicing traditional skills. Some of our most skilled instructors will teach you skills like cordage, friction fire, shelter construction, edible plants, hide tanning, and traps. Instruction is hands-on and class sizes are kept small to ensure your learning. No previous outdoor skills or knowledge is needed.
        </p>
    </article>
    <article id="cf" class="card">
        <img class="card__image" src="~/Content/images/trail.jpg" alt="Campfire" />
        <h3 class="card__title">Field Courses</h3>
        <p class="display-text">
            Ultra-light travel through the Missouri Ozarks with little more than a blanket, poncho, and a knife. No tents, sleeping bags, stoves, or backpacks, and definitely no watches, radios, or cellphones. Your goal on this wilderness survival course is to tackle big challenges as your small group hikes many miles and learns the skills you need to survive and thrive in the deep wilderness.
        </p>
    </article>
    <article id="ep" class="card">
        <img class="card__image" src="~/Content/images/expedition.jpg" alt="Campfire" />
        <h3 class="card__title">7-Day Expedition</h3>
        <p class="display-text">
            This is your chance to reconnect with your KC OSS experience and the wilderness surrounding Missouri with severely limited rations or strictly minimal gear. It’s also your opportunity to share aspects of your KC OSS experience with others.
        </p>
    </article>
    <article id="nav" class="card">
        <img class="card__image" src="~/Content/images/navigation.jpg" alt="Navagation Image" />
        <h3 class="card__title">Navigation Courses</h3>
        <p class="display-text">
            We strive to offer the highest level of hands-on wilderness-based land-navigation training available. Veteran instructors guide you through learning, practice, and independent use of a navigation techniques from map and compass to navigating by the stars. In each course, you will take on more and more responsibility for navigation as the days progress. At the end, you’ll take over entirely, navigating solo through the Missouri Ozarks.
        </p>
    </article>
    <article id="hg" class="card">
        <img class="card__image" src="~/Content/images/gather.jpg" alt="Hunter Gatherer Image" />
        <h3 class="card__title">Hunter Gatherers</h3>
        <p class="display-text">
            The Hunter Gatherer course is one of KC OSS most adventurous courses, designed to offer students the opportunity to truly live off the land for an extended period of time. After a period of preparation, you and your course mates will set off with only the clothes on your back – no food, minimal gear – to live as a hunter gatherer band for 9 days.
        </p>
    </article>
    <article id="wm" class="card">
        <img class="card__image" src="~/Content/images/herb.jpg" alt="Wilderness Medicine Image" />
        <h3 class="card__title">Wilderness Medicine</h3>
        <p class="display-text">
            KC OSS partners with MU to offer a Wilderness First Responder course, as well as the short refresher course for WFR certification.
        </p>
    </article>
</section>

<section class="class-list__table--container">
    <div id="table__all">
        <h2 class="class-list__table--title">All Classes</h2>
        <table class="table__display">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Class Name</th>
                    <th>Instructor</th>
                    <th>Meets</th>
                </tr>
            </thead>
            <tbody>
                <tr class="test">
                    <td>1</td>
                    <td>Beginners: Skills Course</td>
                    <td>Ryan</td>
                    <td>Monday & Tuesday</td>
                </tr>
                <tr class="test">
                    <td>2</td>
                    <td>Intermediate: Skills Course</td>
                    <td>Ryan</td>
                    <td>Wednesday & Thursday</td>
                </tr>
                <tr class="test">
                    <td>3</td>
                    <td>Advanced: Skills Course</td>
                    <td>Ryan</td>
                    <td>Friday & Saturday</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Beginners: Field Course</td>
                    <td>Johnny</td>
                    <td>Monday & Tuesday</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Intermediate: Field Course</td>
                    <td>Johnny</td>
                    <td>Wednesday & Thursday</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Advanced: Field Course</td>
                    <td>Johnny</td>
                    <td>Friday & Saturday</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Beginners: 7-Day Expedition</td>
                    <td>Hannah</td>
                    <td>Monday & Tuesday</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Intermediate: 7-Day Expedition</td>
                    <td>Hannah</td>
                    <td>Wednesday & Thursday</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Advanced: 7-Day Expedition</td>
                    <td>Hannah</td>
                    <td>Friday & Saturday</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Beginners: Navigation Course</td>
                    <td>Evan</td>
                    <td>Monday & Tuesday</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Intermediate: Navigation Course</td>
                    <td>Evan</td>
                    <td>Wednesday & Thursday</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Advanced: Navigation Course</td>
                    <td>Evan</td>
                    <td>Friday & Saturday</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Beginners: Hunter Gatherer</td>
                    <td>Ava</td>
                    <td>Monday & Tuesday</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Intermediate: Hunter Gatherer</td>
                    <td>Ava</td>
                    <td>Wednesday & Thursday</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>Advanced: Hunter Gatherer</td>
                    <td>Ava</td>
                    <td>Friday & Saturday</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>Beginners: Wilderness Medicine</td>
                    <td>Matt</td>
                    <td>Monday & Tuesday</td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>Intermediate: Wilderness Medicine</td>
                    <td>Matt</td>
                    <td>Wednesday & Thursday</td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>Advanced: Wilderness Medicine</td>
                    <td>Matt</td>
                    <td>Friday & Saturday</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="table__skills">
        <h2 class="class-list__table--title">Skills Courses - Class List</h2>
        <table class="table__display">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Class Name</th>
                    <th>Instructor</th>
                    <th>Meets</th>
                </tr>
            </thead>
            <tbody>
                <tr class="test">
                    <td>1</td>
                    <td>Beginners: Skills Course</td>
                    <td>Ryan</td>
                    <td>Monday & Tuesday</td>
                </tr>
                <tr class="test">
                    <td>2</td>
                    <td>Intermediate: Skills Course</td>
                    <td>Ryan</td>
                    <td>Wednesday & Thursday</td>
                </tr>
                <tr class="test">
                    <td>3</td>
                    <td>Advanced: Skills Course</td>
                    <td>Ryan</td>
                    <td>Friday & Saturday</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="table__field">
        <h2 class="class-list__table--title">Field Courses - Class List</h2>
        <table class="table__display">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Class Name</th>
                    <th>Instructor</th>
                    <th>Meets</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>4</td>
                    <td>Beginners: Field Course</td>
                    <td>Johnny</td>
                    <td>Monday & Tuesday</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Intermediate: Field Course</td>
                    <td>Johnny</td>
                    <td>Wednesday & Thursday</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Advanced: Field Course</td>
                    <td>Johnny</td>
                    <td>Friday & Saturday</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="table__expedition">
        <h2 class="class-list__table--title">7-Day Expedition - Class List</h2>
        <table class="table__display">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Class Name</th>
                    <th>Instructor</th>
                    <th>Meets</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>7</td>
                    <td>Beginners: 7-Day Expedition</td>
                    <td>Hannah</td>
                    <td>Monday & Tuesday</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Intermediate: 7-Day Expedition</td>
                    <td>Hannah</td>
                    <td>Wednesday & Thursday</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Advanced: 7-Day Expedition</td>
                    <td>Hannah</td>
                    <td>Friday & Saturday</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="table__navigation">
        <h2 class="class-list__table--title">Navigation Courses - Class List</h2>
        <table class="table__display">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Class Name</th>
                    <th>Instructor</th>
                    <th>Meets</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>10</td>
                    <td>Beginners: Navigation Course</td>
                    <td>Evan</td>
                    <td>Monday & Tuesday</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Intermediate: Navigation Course</td>
                    <td>Evan</td>
                    <td>Wednesday & Thursday</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Advanced: Navigation Course</td>
                    <td>Evan</td>
                    <td>Friday & Saturday</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="table__hunter">
        <h2 class="class-list__table--title">Hunter Gatherers - Class List</h2>
        <table class="table__display">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Class Name</th>
                    <th>Instructor</th>
                    <th>Meets</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>13</td>
                    <td>Beginners: Hunter Gatherer</td>
                    <td>Ava</td>
                    <td>Monday & Tuesday</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Intermediate: Hunter Gatherer</td>
                    <td>Ava</td>
                    <td>Wednesday & Thursday</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>Advanced: Hunter Gatherer</td>
                    <td>Ava</td>
                    <td>Friday & Saturday</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="table__wilderness">
        <h2 class="class-list__table--title">Wilderness Medicine - Class List</h2>
        <table class="table__display">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Class Name</th>
                    <th>Instructor</th>
                    <th>Meets</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>16</td>
                    <td>Beginners: Wilderness Medicine</td>
                    <td>Matt</td>
                    <td>Monday & Tuesday</td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>Intermediate: Wilderness Medicine</td>
                    <td>Matt</td>
                    <td>Wednesday & Thursday</td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>Advanced: Wilderness Medicine</td>
                    <td>Matt</td>
                    <td>Friday & Saturday</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<script src="~/Content/js/classes.js"></script>