@{
    ViewBag.Title = "Contact Us";
}

<h1 class="contact__header">@ViewBag.Title</h1>

<address class="display-text">
    1740 W 92nd Street<br />
    Kansas City, MO 64114<br />
    Phone: <a href="phone:#">816.857.5309</a>
</address>
<br />
<address class="contact__links display-text">
    <strong>Email:</strong>   <a href="learning@smallbiz.com">learning@smallbiz.com</a><br />
    <strong>Twitter:</strong> <a target="_blank" href="https://www.twitter.com">@@weteachstuff</a><br />
    <strong>Facebook:</strong> <a target="_blank" href="http://www.facebook.com/learnwithus">www.facebook.com/learnwithus</a><br />
    <strong>LinkedIn:</strong> <a target="_blank" href="http://www.linkedin.com/learnwithus">www.linkedin.com/learnwithus</a><br />
</address>