@{
    ViewBag.Title = "Home";
}

<section class="about-us">
    <div>
        <img class="about-us__image" src="~/Content/images/survival.jpg" alt="Making a fire" />
        <div class="social-icons__group social-icons__group--about-us">
            <i class="fa fa-facebook-square" aria-hidden="true" style="font-size: 2rem; color: #0470E6"></i>
            <i class="fa fa-twitter" aria-hidden="true" style="font-size: 2rem; color: #1DA1F2"></i>
            <i class="fa fa-instagram" aria-hidden="true" style="font-size: 2rem;"></i>
        </div>
    </div>
    <article class="about-us__info">
        <h3 class="about-us__info--title">About Us</h3>
        <p class="display-text">
            Since 1995, the KC Outdoor Survival School has delivered life-changing, wilderness-based experiences to people from around the world. “Know more, carry less” is one of our core philosophies and at KC OSS, students are taught how to survive and thrive without all the modern equipment most people feel is necessary. As a result of their time on the trail with us, people gain competency in the wilderness and confidence in themselves.
        </p>
        <p class="display-text">
            The KC Outdoor Survival School is dedicated to helping you develop the neccessary skills through experiences with the great outdoors.
        </p>
    </article>
</section>

<div class="container">
    <section>
        <div>
            <h2 class="why-choose-us__main-header">Why Choose Us</h2>
        </div>
        <div class="why-choose-us">
            <div>
                <img class="why-choose-us__image" src="~/Content/images/waterfall.jpg" alt="Picture of Waterfall" />
            </div>
            <div class="why-choose-us__info">
                <h3>KC OSS Students</h3>
                <p class="display-text">
                    KC OSS students come from all walks of life. We’ve had everyone from college students to well established adults. Doctors, nurses, engineers, mechanics, fire fighters, police officers, attorneys, judges, teachers, real estate agents, the list goes on... Everyone is welcome!
                </p>
                <button class="why-choose-us__button">Learn More</button>
            </div>
        </div>
    </section>

    <section class="why-choose-us">
        <div class="why-choose-us__info">
            <h3>Outdoor Experience</h3>
            <p class="display-text">
                One last question that people raise is how much camping experience or wilderness expertise people must have to attend KC OSS. Only our most advanced courses have prerequisites. Many people with absolutely no outdoor experience at all come to KC OSS and are as successful. Don’t let a lack of experience prevent you from attending. Our instructors look forward to teaching all skill levels.
            </p>
            <button class="why-choose-us__button">Learn More</button>
        </div>
        <div>
            <img class="why-choose-us__image" src="~/Content/images/tent.jpg" alt="Photo of tent" />
        </div>
    </section>
</div>