
<div id="admin">
    <h1 class="team__header">Administration</h1>

    <article class="team__article">
        <div class="team__info-img--container"><img src="~/Content/images/adminLeader.PNG" class="avatar" /><h5>Jinny Jones<br />Operations Lead</h5></div>
        <p class="display-text">
            &emsp;Jinny Jones is an elite sales leader. He has 20 years of experience at a fortune 500 company. We are lucky to have him and he can assisted with any of your needs.
        </p>
    </article>

    <article class="team__article">
        <div class="team__info-img--container"><img src="~/Content/images/admin1.PNG" class="avatar" /><h5>John Clark<br />Support Staff</h5></div>
        <p class="display-text">
            &emsp;John Clark has 10 years of experience as a high performing Administrative representative. She will make sure you are taken care of.
        </p>
    </article>

    <article class="team__article">
        <div class="team__info-img--container"><img src="~/Content/images/admin2.PNG" class="avatar" /><h5>Kelly Evans<br />Support Staff</h5></div>
        <p class="display-text">
            &emsp;Kelly Evans comes to us fresh out of college. We are excited to see her career transform. She has good leadership to teach him and he will be a sussfull Administrative staff for years to come.
        </p>
    </article>
</div>
