
<div id="instructors">
    <h1 class="team__header">Instructors</h1>


    <article class="team__article">
        <div class="team__info-img--container"><img src="~/Content/images/instructorLead.PNG" class="avatar" /><h5>Robert Lee<br />Instructor Lead</h5></div>
        <p class="display-text">
            &emsp;Robert Lee designed and built his own off-the-grid home. Electricity, heating, refrigeration, and human waste management are all produced/processed on site.
            He has a private pilot’s license.
        </p>
    </article>

    <article class="team__article">
        <div class="team__info-img--container"><img src="~/Content/images/instructor1.PNG" class="avatar" /><h5>Ryan Smitty<br />Instructor</h5></div>
        <p class="display-text">
            &emsp;At a young age Ryan Smitty wanted to learn the skills of our ancestors and began practicing what I could find in old boy scout manuals, field guides, and generally just playing in the woods. He wanted to learn how one could truly exist with the earth, instead of being engaged in a constant battle with it or shutting yourself off from it completely. 
        </p>
    </article>

    <article class="team__article">
        <div class="team__info-img--container"><img src="~/Content/images/instructor2.PNG" class="avatar" /><h5>Ashley Jones<br />Instructor</h5></div>
        <p class="display-text">
            &emsp;Ashley Jones is at KC OSS because she believes that true knowledge comes through experience. The experience of KC OSS teaches her what it means to be strong, compassionate, connected, human and truly authentic in a way that no other experience ever has.
        </p>
    </article>
</div>