
<div id="leadership">
    <h1 class="team__header">Leadership</h1>

    <article class="team__article">
        <div class="team__info-img--container"><img src="~/Content/images/president.PNG" class="avatar" /><h5>James Jones<br />Company President</h5></div>
        <p class="display-text">
            &emsp;As the CEO of KC OSS, James Jones is responsible for running all facets of the business.
            James has a proven executive management track record and over 20 years of experience driving sales
            growth in the outdoor survival industry. Prior to joining KC OSS, James was Chief Marketing Officer and
            Executive Vice President of Sales for Getouttthere, LLC, responsible for all global sales and marketing
            activities.
        </p>
    </article>

    <article class="team__article">
        <div class="team__info-img--container"><img src="~/Content/images/execLeader.PNG" class="avatar" /><h5>Ellen Smith<br />Executive Leadership</h5></div>
        <p class="display-text">
            &emsp;Ellen Smith is the co-founder and CFO of KC OSS. Prior to
            KC OSS, Ellen was CEO of Go Hike, an internet service for business-to-business
            Hiking trips.
        </p>
    </article>

    <article class="team__article">
        <div class="team__info-img--container"><img src="~/Content/images/execLeader2.PNG" class="avatar" /><h5>Steven Kline<br />Executive Leadership</h5></div>
        <p class="display-text">
            &emsp;Steven Kline is an accomplished software executive with over 20 years experience in the software industry. Steven
            is currently President and CFO of KC OSS. His previous executive positions include president and CEO of Intelligent Results, Inc. and COO
            of BackWeb Technologies, Inc. Before joining BackWeb, Ms. Kline spent eight years at Oracle
            Corporation, where she served in various management positions for sales, consulting, and alliance
            development, with his most recent position serving as vice president of global ISV alliances. He brings vast experience to KC OSS.
        </p>
    </article>
</div>
