
<div id="sales">
    <h1 class="team__header">Sales</h1>

    <article class="team__article">
        <div class="team__info-img--container"><img src="~/Content/images/salesLead.PNG" class="avatar" /><h5>Jimmy Jones<br />Sales Lead</h5></div>
        <p class="display-text">
            &emsp;Jimmy Jones is an elite sales leader. He has 20 years of experience at a fortune 500 company. We are lucky to have him and he can assisted with any of your needs.
        </p>
    </article>

    <article class="team__article">
        <div class="team__info-img--container"><img src="~/Content/images/sales1.PNG" class="avatar" /><h5>Jenny Ashley<br />Sales Staff</h5></div>
        <p class="display-text">
            &emsp;Jenny Ashley has 10 years of experience as a high performing sales representative. She will make sure you are taken care of.
        </p>
    </article>

    <article class="team__article">
        <div class="team__info-img--container"><img src="~/Content/images/sales2.PNG" class="avatar" /><h5>Robert Smitty<br />Sales Staff</h5></div>
        <p class="display-text">
            &emsp;Robert Smitty comes to us fresh out of college. We are excited to see his career transform. He has good leadership to teach him and he will be a sussfull sales staff for years to come.
        </p>
    </article>
</div>
